.colapsavel-expandir, nav > ul > li {
  transition: 
    transform 0.3s ease
}

.colapsavel-expandir:hover, nav > ul > li:hover {
  transform: translateX(10px);
}

.colapsavel-expandir:active {
  transform: scale(0.9); /* Shrinks slightly to look "pressed" */
}

.botao-header, .botao, .modal-expandir, .botao-gif-stop, .botao-mute{
  transition: 
    transform 0.4s ease,
    box-shadow 0.4s ease,
    filter 0.4s ease;
}

.botao-header:hover, .botao:hover, .modal-expandir:hover, .botao-gif-stop:hover, .botao-mute:hover{
  transform: scale(1.05) translateY(-4px);
  box-shadow: 0 25px 30px rgba(16, 6, 100, 0.3);
  filter: brightness(1.1);
}

/* -    -   -   -   -   -   -   -   -   -   - */
/* Células da grade de batalha naval com animação ao passar o mouse em cima*/

/* Fonte: https://design.dev/tools/hover-effect-generator/ */
.celula {
  transition:
     background-color 0.2s ease,
    box-shadow 0.4s ease;
}

.celula:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background-color: #0050b0;
}

/* Animação para os navios, fazendo um leve movimento de balanço*/

.navio{
  animation: wobble 4s ease-in-out infinite;

  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
}

@keyframes wobble {
  0% {transform: rotate(-1deg);}
  50% {transform: rotate(1deg);}
  100% {transform: rotate(-1deg);}
}

/* Para funções de desativar ou ativar transparência, ou ocultar elementos */
.transparente {
    opacity: 0.3;
    transition: opacity 1s ease;
}

.transparente div{
    cursor: default;
}

.oculto{
  display: none;
}

/* */


.tela-cheia{
    height: 100vh;
    box-sizing: border-box;

    background: linear-gradient(
        -45deg,
        #002c50,
        #001f40,
        #000822,
        #001f40,
        #002c50
    );

    background-size: 400% 400%;
    animation: gradienteAzul 12s ease infinite;
}

@keyframes gradienteAzul {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

/* Animação do texto pra quando o número de navios diminuir */

.flash-dano {
    animation: flashVermelho 3s ease forwards;
}

@keyframes flashVermelho {
    0% {
        color: white;
    }
    20% {
        color: red;
    }
    100% {
        color: white;
    }
}

.flash-dano-container{
    animation: flashDano 3s ease forwards;
}

@keyframes flashDano {
    0% {
        background-color: #060d1c;
    }
    20% {
        background-color: rgb(81, 0, 0);
    }
    100% {
        background-color: #060d1c;
    }
}